.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;

}

.orange {
  color: var(--logo-wannup-orange); /* Couleur principale du logo Wannup */
}

.violet {
  color: var(--logo-wannup-violet); /* Couleur secondaire du logo Wannup */
}

.orange-dark {
  color: var(--logo-wannup-orange); /* Couleur principale du logo Wannup */
  background-color: var(--logo-wannup-violet); /* Couleur de fond sombre */
}

.violet-dark {
  color: var(--logo-wannup-violet); /* Couleur secondaire du logo Wannup */
  background-color: var(--logo-wannup-orange); /* Couleur de fond sombre */
}

.switch-div {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  z-index: 1000; /* Pour s'assurer que l'interrupteur est au-dessus des autres éléments */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Styles for the help checkbox */
.help-checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.help-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 10px;
}

.help-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.help-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #007BFF;
  color: white;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
  transition: 0.4s;
  width: 34px;
  height: 34px;
}

.help-switch input:checked + .help-checkmark {
  background-color: #ccc;
  color: black;
}