/* flex, center horizontally */
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* tmp */
  background-color: rosybrown;
}

.main-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-map {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* tmp */
  width: 70%;
  height: 100%;
  /* background-color: rgb(179, 179, 255); */
}

.main-step {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* tmp */
  width: 30%;
  height: 100%;
  /* background-color: rgb(124, 147, 214);   */

}

/* #452e88 violet wannup
#f79d2c orange wannup
#e7a147 orange logo wannup
#413484 violet logo wannup */