.step-overlap {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* tmp */
  width: 100%;
  height: 100%;
  /* background-color: rgb(124, 147, 214); */
  border: 1px solid red;
  border-radius: 10px;
}

.step-check-ok {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* tmp */
  width: 100%;
  height: 100%;
  /* background-color: rgb(124, 147, 214); */
  border: 1px solid green;
  border-radius: 10px;
}

.error {
  color: red;
}