

.step-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border: 3px solid var(--bg-wannup-violet);
  border-radius: 10px;
  background-color: darkgray;
  height: 100%;
}

.step-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 3px solid darkgray;
  border-radius: 10px;
  height: 100%;
}

.step-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bg-wannup-orange);
  border-radius: 1000px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: var(--bg-wannup-orange);
  color: var(--bg-wannup-violet);
  font-weight: bold;
  font-size: 30px;
  width: 40px;
  height: 40px;
}

.step-one-ok {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid green;
}

.step-one-nok {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid red;
}

.step-one-modify {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
  height: 100%;
  border-radius: 10px;
  border: 3px solid orange;
}

.step-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.step-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 3px solid var(--bg-wannup-orange);
  border-radius: 10px;
  height: 100%;
}

.error {
  color: red;
}
